# Data Exploratory nb

In [1]:
import pandas as pd

In [14]:
file_path = "../data/raw/Space_Corrected.csv"

df = pd.read_csv(file_path).drop(columns=["Unnamed: 0", "Unnamed: 0.1"])

display(df.sample(10))

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
3331,RVSN USSR,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Tue Jul 20, 1971 10:00 UTC",Voskhod | Cosmos 429,StatusRetired,NaN,Success
158,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Sat Mar 02, 2019 07:49 UTC",Falcon 9 Block 5 | SpaceX Demo-1,StatusActive,50.0,Success
1277,Arianespace,"ELA-2, Guiana Space Centre, French Guiana, France","Sun Dec 06, 1998 00:43 UTC",Ariane 42L | Satmex 5,StatusRetired,NaN,Success
3849,NASA,"LC-34, Cape Canaveral AFS, Florida, USA","Thu Aug 25, 1966 17:15 UTC",Saturn IB | AS-202,StatusRetired,NaN,Success
3972,General Dynamics,"SLC-4E, Vandenberg AFB, California, USA","Wed Apr 28, 1965 20:17 UTC",Atlas-SLV3 Agena-D | KH-7 Gambit 4017,StatusRetired,NaN,Success
312,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Sat Oct 14, 2017 08:46 UTC",Soyuz 2.1a | Progress MS-07 (68P),StatusActive,48.5,Success
1607,Martin Marietta,"SLC-4W, Vandenberg AFB, California, USA","Tue Oct 05, 1993 17:56 UTC",Titan II(23)G | Landsat 6,StatusRetired,35.0,Failure
3706,RVSN USSR,"Site 86/1, Kapustin Yar, Russia","Tue Dec 26, 1967 09:01 UTC",Cosmos-2I (63SM) | Cosmos 197,StatusRetired,NaN,Success
3078,RVSN USSR,"Site 41/1, Plesetsk Cosmodrome, Russia","Mon Dec 17, 1973 12:00 UTC",Soyuz M | Cosmos 616,StatusRetired,NaN,Success
1524,NASA,"LC-39B, Kennedy Space Center, Florida, USA","Fri Feb 03, 1995 05:22 UTC",Space Shuttle Discovery | STS-63,StatusRetired,450.0,Success